<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Registrarse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilosForm.css}"/>
    <link rel="icon" th:href="@{/images/Icono_SM.ico}" type="image/x-icon">
</head>

<body class="bg-primary">
<!-- CONTENEDOR PRINCIPAL -->
<div class="container">
    <!-- CONTENEDOR CARD -->
    <div class="card o-hidden border border-0 bs-box-shadow-lg my-5">
        <!-- CONTENEDOR CARD-BODY -->
        <div class="card-body p-0">
            <!-- MANEJO DE LA PAGINA EN COLUMNA -->
            <div class="row">
                <!-- IMAGEN EN LA PRIMER COLUMNA -->
                <div class="col-lg-5 d-none d-lg-block bg-register-image rounded-start-2"></div>
                <!-- FIN IMAGEN EN LA PRIMER COLUMNA -->
                <!-- DISTRIBUCION EN 7 COLUMNAS -->
                <div class="col-lg-7">
                    <!-- CONTENEDOR CON PADDING -->
                    <div class="p-5">
                        <!-- CONTENEDOR DE TEXTO CENTRADO -->
                        <div class="text-center">
                            <!-- TITULO DE CUERPO DEL FORMULARIO -->
                            <h1 class="h4 text-gray-900 mb-4">&iexcl;Crea una Cuenta!</h1>
                            <!-- FIN TITULO DE CUERPO DEL FORMULARIO -->
                        </div>
                        <!-- FIN CONTENEDOR DE TEXTO CENTRADO -->
                        <!-- INICIO DEL FORMULARIO -->
                        <form th:action="@{/registrar/formulario}" method="POST" id="registroForm" class="user">
                            <!-- CONTENEDOR GRUPAL DE NUMERO DE DOCUMENTO Y TIPO DE DOCUMENTO -->
                            <div class="form-group mb-3 row">
                                <!-- CONTENEDOR DE NUMERO DE DOCUMENTO -->
                                <div class="col-sm-6 mb-sm-0">
                                    <!-- INPUT DE NUMERO DE DOCUMENTO -->
                                    <input type="number" class="form-control form-control-user" id="txtnDoc" placeholder="N° Documento *" name="nDocumento" required min="10000"/>
                                    <!-- FIN INPUT DE NUMERO DE DOCUMENTO -->
                                </div>
                                <!-- FIN CONTENEDOR DE NUMERO DE DOCUMENTO -->
                                <!-- CONTENEDOR DE TIPO DE DOCUMENTO -->
                                <div class="col-sm-6">
                                    <!-- SELECT DE TIPO DE DOCUMENTO -->
                                    <select class="form-select rounded-select" id="txtTDoc" name="tDocumento" required>
                                        <option value="-1" disabled selected>Tipo Documento... *</option>
                                        <option th:each="doc : ${tiposDocumento}" th:value="${doc.idtDocumento}" th:text="${doc.nombre}"></option>
                                    </select>
                                    <!-- FIN SELECT DE TIPO DE DOCUMENTO -->
                                </div>
                                <!-- FIN CONTENEDOR DE TIPO DE DOCUMENTO -->
                            </div>
                            <!-- FIN CONTENEDOR GRUPAL DE NUMERO DE DOCUMENTO Y TIPO DE DOCUMENTO -->
                            <!-- CONTENEDOR GRUPAL DE PRIMER NOMBRE Y SEGUNDO NOMBRE -->
                            <div class="form-group mb-3 row">
                                <!-- CONTENEDOR DE PRIMER NOMBRE -->
                                <div class="col-sm-6 mb-sm-0">
                                    <!-- INPUT DE PRIMER NOMBRE -->
                                    <input type="text" class="form-control form-control-user" id="txtpNombre" placeholder="Primer Nombre *" name="pNombre" required />
                                    <!-- FIN INPUT DE PRIMER NOMBRE -->
                                </div>
                                <!-- FIN CONTENEDOR DE PRIMER NOMBRE -->
                                <!-- CONTENEDOR DE SEGUNDO NOMBRE -->
                                <div class="col-sm-6">
                                    <!-- INPUT DE SEGUNDO NOMBRE -->
                                    <input type="text" class="form-control form-control-user" id="txtsNombre" placeholder="Segundo Nombre" name="sNombre" required />
                                    <!-- FIN INPUT DE SEGUNDO NOMBRE -->
                                </div>
                                <!-- FIN CONTENEDOR DE SEGUNDO NOMBRE -->
                            </div>
                            <!-- FIN CONTENEDOR GRUPAL DE PRIMER NOMBRE Y SEGUNDO NOMBRE -->
                            <!-- CONTENEDOR GRUPAL DE PRIMER APELLIDO Y SEGUNDO APELLIDO -->
                            <div class="form-group mb-3 row">
                                <!-- CONTENEDOR DE PRIMER APELLIDO -->
                                <div class="col-sm-6 mb-sm-0">
                                    <!-- INPUT DE SEGUNDO APELLIDO -->
                                    <input type="text" class="form-control form-control-user" id="txtpApellido" placeholder="Primer Apellido *" name="pApellido" required />
                                    <!-- FIN INPUT DE SEGUNDO APELLIDO -->
                                </div>
                                <!-- FIN CONTENEDOR DE PRIMER APELLIDO -->
                                <!-- CONTENEDOR DE SEGUNDO APELLIDO -->
                                <div class="col-sm-6">
                                    <!-- INPUT DE SEGUNDO APELLIDO -->
                                    <input type="text" class="form-control form-control-user" id="txtsApellido" placeholder="Segundo Apellido" name="sApellido" required />
                                    <!-- FIN INPUT DE SEGUNDO APELLIDO -->
                                </div>
                                <!-- FIN CONTENEDOR DE SEGUNDO APELLIDO -->
                            </div>
                            <!-- FIN CONTENEDOR GRUPAL DE PRIMER APELLIDO Y SEGUNDO APELLIDO -->
                            <!-- CONTENEDOR GRUPAL DE CORREO ELECTRONICO -->
                            <div class="form-group mb-3">
                                <!-- INPUT DE CORREO ELECTRONICO -->
                                <input type="email" class="form-control form-control-user" id="txtEmail" placeholder="Correo Electr&oacute;nico *" name="email" required />
                                <!-- FIN INPUT DE CORREO ELECTRONICO -->
                            </div>
                            <!-- FIN CONTENEDOR GRUPAL DE CORREO ELECTRONICO -->
                            <!-- CONTENEDOR GRUPAL DE DIA, MES Y ANIO DE NACIMIENTO -->
                            <div class="form-group mb-3 row">
                                <!-- CONTENEDOR DE DIA DE NACIMIENTO -->
                                <div class="col-sm-4">
                                    <!-- SELECT DE DIA DE NACIMIENTO -->
                                    <select class="form-select" id="txtDia" name="dNacimiento" required>
                                        <option value="dia" disabled selected>D&iacute;a Nacim... *</option>
                                        <option th:each="dia : ${#numbers.sequence(1, 31)}" th:value="${dia}" th:text="${dia}"></option>
                                    </select>
                                    <!-- FIN SELECT DE DIA DE NACIMIENTO -->
                                </div>
                                <!-- FIN CONTENEDOR DE DIA DE NACIMIENTO -->
                                <!-- CONTENEDOR MES DE NACIMIENTO -->
                                <div class="col-sm-4">
                                    <!-- SELECT DE MES DE NACIMIENTO -->
                                    <select class="form-select" id="txtMes" name="mNacimiento" required>
                                        <option value="mes" disabled selected>Mes Nacim... *</option>
                                        <option th:each="mes : ${#numbers.sequence(1, 12)}" th:value="${mes}" th:text="${mes}"></option>
                                    </select>
                                    <!-- FIN SELECT DE MES DE NACIMIENTO -->
                                </div>
                                <!-- FIN CONTENEDOR MES DE NACIMIENTO -->
                                <!-- CONTENEDOR ANIO DE NACIMIENTO -->
                                <div class="col-sm-4">
                                    <!-- SELECT DE ANIO DE NACIMIENTO -->
                                    <select class="form-select" id="txtAnio" name="aNacimiento" required>
                                        <option value="anio" disabled selected>A&ntilde;o Nacim... *</option>
                                        <option th:each="anio : ${#numbers.sequence(1950, anioFinal)}" th:value="${anio}" th:text="${anio}"></option>
                                    </select>
                                    <!-- FIN SELECT DE ANIO DE NACIMIENTO -->
                                </div>
                                <!-- FIN CONTENEDOR ANIO DE NACIMIENTO -->
                            </div>
                            <!-- FIN CONTENEDOR GRUPAL DE DIA, MES Y ANIO -->
                            <!-- CONTENEDOR GRUPAL CONTRASENIA Y REPETIR CONTRASENIA -->
                            <div class="form-group mb-3 row">
                                <!-- CONTENEDOR CONTRASENIA -->
                                <div class="col-sm-6 mb-sm-0">
                                    <!-- INPUT CONTRASENIA -->
                                    <input type="password" class="form-control form-control-user" id="txtPass" placeholder="Contrase&ntilde;a *" name="pass" required />
                                    <!-- FIN INPUT CONTRASENIA -->
                                </div>
                                <!-- FIN CONTENEDOR CONTRASENIA -->
                                <!-- CONTENEDOR REPETIR CONTRASENIA -->
                                <div class="col-sm-6">
                                    <!-- INPUT REPETIR CONTRASENIA -->
                                    <input type="password" class="form-control form-control-user" id="txtRePass" placeholder="Repetir Contrase&ntilde;a *" name="confirmPassword" required />
                                    <!-- FIN INPUT REPETIR CONTRASENIA -->
                                </div>
                                <!-- FIN CONTENEDOR REPETIR CONTRASENIA -->
                            </div>
                            <!-- FIN CONTENEDOR GRUPAL CONTRASENIA Y REPETIR CONTRASENIA -->
                            <!-- CONTENEDOR DEL BOTON REGISTRAR USUARIO -->
                            <div class="text-center">
                                <!-- BOTON DE ENVIO DEL FORMULARIO REGISTRAR USUARIO -->
                                <button type="submit" class="btn btn-primary col-10">Registrar Cuenta</button>
                                <!-- FIN BOTON DE ENVIO DEL FORMULARIO REGISTRAR USUARIO -->
                            </div>
                            <!-- FIN CONTENEDOR DEL BOTON REGISTRAR USUARIO -->
                        </form>
                        <!-- FIN DEL FORMULARIO -->
                        <!-- SALTO DE LINEA CON SEPARADOR DE LINEA -->
                        <hr />
                        <!-- FIN SALTO DE LINEA CON SEPARADOR DE LINEA -->
                        <!-- CONTENEDOR PARA OLVIDAR CONTRASENIA -->
                        <div class="text-center">
                            <!-- LINK HACIA OLVIDAR CONTRASENIA -->
                            <a class="small" th:href="@{/forgotPassword}">&iquest;Olvidaste tu Contrase&ntilde;a?</a>
                            <!-- FIN LINK HACIA OLVIDAR CONTRASENIA -->
                        </div>
                        <!-- FIN CONTENEDOR PARA OLVIDAR CONTRASENIA -->
                        <!-- CONTENEDOR PARA LOGIN -->
                        <div class="text-center">
                            <!-- LINK HACIA LOGIN -->
                            <a class="small" th:href="@{/login/user}">&iquest;Ya tienes una cuenta? &iexcl;Inicia Sesi&oacute;n!</a>
                            <!-- FIN LINK HACIA LOGIN -->
                        </div>
                        <!-- FIN CONTENEDOR PARA LOGIN -->
                    </div>
                    <!-- FIN CONTENEDOR CON PADDING -->
                </div>
                <!-- FIN DISTRIBUCION EN 7 COLUMNAS -->
            </div>
            <!-- FIN MANEJO DE LA PAGINA EN COLUMNA -->
        </div>
        <!-- FIN CONTENEDOR CARD-BODY -->
    </div>
    <!-- FIN CONTENEDOR CARD -->
</div>
<!-- FIN CONTENEDOR PRINCIPAL -->

<!-- INPUT OCULTO ALMACENA ERROR DOCUMENTO VACIO -->
<input type="hidden" id="errorDocumento" value="${errorDocumento}">
<!-- FIN INPUT OCULTO ALMACENA ERROR DOCUMENTO VACIO -->
<!-- MODAL FADE DOCUMENTO VACIO -->
<div class="modal fade" id="campoVacioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <!-- MODAL DIALOG DOCUMENTO VACIO -->
    <div class="modal-dialog" role="document">
        <!-- MODAL CONTENT DOCUMENTO VACIO -->
        <div class="modal-content">
            <!-- MODAL HEADER DOCUMENTO VACIO -->
            <div class="modal-header">
                <!-- TITULO DEL HEADER -->
                <h5 class="modal-title">Error al Registrar Usuario</h5>
                <!-- FIN TITULO DEL HEADER -->
                <!-- BOTON PARA CERRAR EL MODAL -->
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                <!-- FIN BOTON PARA CERRAR EL MODAL -->
            </div>
            <!-- FIN MODAL HEADER DOCUMENTO VACIO -->
            <!-- CUERPO DEL MODAL -->
            <div class="modal-body">El N&deg; Documento no puede estar vac&iacute;o, por favor digitelo.</div>
            <!-- FIN CUERPO DEL MODAL -->
            <!-- FOOTER DEL MODAL -->
            <div class="modal-footer">
                <!-- BOTON PARA CERRAR MODAL -->
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
                <!-- FIN BOTON PARA CERRAR MODAL -->
            </div>
            <!-- FIN FOOTER DEL MODAL -->
        </div>
        <!-- FIN MODAL CONTENT DOCUMENTO VACIO -->
    </div>
    <!-- FIN MODAL DIALOG DOCUMENTO VACIO -->
</div>
<!-- FIN MODAL FADE DOCUMENTO VACIO -->

<input type="hidden" id="errorNumeroInvalido" value="${errorNumeroInvalido}">
<!-- Modal para numero de documento invalido -->
<div class="modal fade" id="numeroInvalidoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">N&deg; de Documento inv&aacute;lido, por favor digite un n&uacute;mero de documento v&aacute;lido.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Tipo de Documento vacio -->
<div class="modal fade" id="seleccionarDocumentoModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">Debe seleccionar un Tipo de Documento.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Tipo de Documento inválido -->
<div class="modal fade" id="tipoDocumentoInvalidoModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">Tipo de Documento inv&aacute;lido, por favor seleccione un valor de la lista.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Primer Nombre obligatorio -->
<div class="modal fade" id="primerNombreObligatorioModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">El Primer Nombre es obligatorio, por favor digite su primer nombre.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Primer Nombre invalido -->
<div class="modal fade" id="primerNombreInvalidoModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">Primer Nombre inv&aacute;lido, por favor digite su Primer Nombre correctamente.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Segundo Nombre invalido -->
<div class="modal fade" id="segundoNombreInvalidoModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">Segundo Nombre inv&aacute;lido, por favor digite su Segundo Nombre correctamente.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Primer Apellido obligatorio -->
<div class="modal fade" id="primerApellidoObligatorioModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">El Primer Apellido es obligatorio, por favor digite su primer apellido.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Primer Apellido invalido -->
<div class="modal fade" id="primerApellidoInvalidoModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">Primer Apellido inv&aacute;lido, por favor digite su Primer Apellido correctamente.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Segundo Apellido invalido -->
<div class="modal fade" id="segundoApellidoInvalidoModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">Segundo Apellido inv&aacute;lido, por favor digite su Segundo Apellido correctamente.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para email obligatorio -->
<div class="modal fade" id="emailVacioModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">El email es obligatorio, por favor digite su email.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para email inválido -->
<div class="modal fade" id="emailInvalidoModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">Email inv&aacute;lido, por favor digite un Email correcto o con Dominio &quot;@sanmateo.edu.co&quot;.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Dia vacio -->
<div class="modal fade" id="seleccionarDiaModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">Debe seleccionar un D&iacute;a de Nacimiento.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Dia de Nacimiento invalido -->
<div class="modal fade" id="diaNacimientoInvalidoModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">D&iacute;a de Nacimiento inv&aacute;lido, por favor seleccione un valor de la lista.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Mes vacio -->
<div class="modal fade" id="seleccionarMesModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">Debe seleccionar un Mes de Nacimiento.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Mes de Nacimiento invalido -->
<div class="modal fade" id="mesNacimientoInvalidoModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">Mes de Nacimiento inv&aacute;lido, por favor seleccione un valor de la lista.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Anio vacio -->
<div class="modal fade" id="seleccionarAnioModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">Debe seleccionar un A&ntilde;o de Nacimiento.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Anio de Nacimiento invalido -->
<div class="modal fade" id="anioNacimientoInvalidoModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">A&ntilde;o de Nacimiento inv&aacute;lido, por favor seleccione un valor de la lista.</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- INPUT OCULTO ALMACENA USUARIO EXISTENTE -->
<input type="hidden" id="usuarioExistente" th:value="${usuarioExistente}">
<!-- INPUT OCULTO ALMACENA USUARIO EXISTENTE -->
<!-- MODAL FADE USUARIO EXISTENTE -->
<div class="modal fade" id="usuarioExistenteModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- MODAL DIALOG USUARIO EXISTENTE -->
    <div class="modal-dialog" role="document">
        <!-- MODAL CONTENT USUARIO EXISTENTE -->
        <div class="modal-content">
            <!-- MODAL HEADER USUARIO EXISTENTE -->
            <div class="modal-header">
                <!-- TITULO DEL HEADER -->
                <h5 class="modal-title" id="exampleModalLabel">Error al Registrar Usuario</h5>
                <!-- FIN TITULO DEL HEADER -->
                <!-- BOTON PARA CERRAR EL MODAL -->
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                <!-- FIN BOTON PARA CERRAR EL MODAL -->
            </div>
            <!-- FIN MODAL HEADER USUARIO EXISTENTE -->
            <!-- CUERPO DEL MODAL -->
            <div class="modal-body">Usuario ya existe.</div>
            <!-- FIN CUERPO DEL MODAL -->
            <!-- FOOTER DEL MODAL -->
            <div class="modal-footer">
                <!-- BOTON PARA CERRAR EL MODAL -->
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cerrar</button>
                <!-- FIN BOTON PARA CERRAR EL MODAL -->
            </div>
            <!-- FIN FOOTER DEL MODAL -->
        </div>
        <!-- MODAL CONTENT USUARIO EXISTENTE -->
    </div>
    <!-- FIN MODAL DIALOG USUARIO EXISTENTE -->
</div>
<!-- FIN MODAL FADE USUARIO EXISTENTE -->

<!-- INPUT OCULTO ALMACENA REGISTRO EXITOSO -->
<input type="hidden" id="registroExitoso" th:value="${registroExitoso}">
<!-- FIN INPUT OCULTO ALMACENA REGISTRO EXITOSO -->
<!-- MODAL FADE REGISTRO EXITOSO -->
<div class="modal fade" id="usuarioRegistradoModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- MODAL DIALOG REGISTRO EXITOSO -->
    <div class="modal-dialog" role="document">
        <!-- MODAL CONTENT REGISTRO EXITOSO -->
        <div class="modal-content">
            <!-- MODAL HEADER REGISTRO EXITOSO -->
            <div class="modal-header">
                <!-- TITULO DEL HEADER -->
                <h5 class="modal-title">Registro Exitoso</h5>
                <!-- FIN TITULO DEL HEADER -->
                <!-- BOTON PARA CERRAR EL MODAL -->
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                <!-- FIN BOTON PARA CERRAR EL MODAL -->
            </div>
            <!-- FIN MODAL HEADER REGISTRO EXITOSO -->
            <!-- CUERPO DEL MODAL -->
            <div class="modal-body">Su usuario se ha credo exitosamente.</div>
            <!-- FIN CUERPO DEL MODAL -->
            <!-- FOOTER DEL MODAL -->
            <div class="modal-footer">
                <!-- BOTON PARA CERRAR MODAL -->
                <button class="btn btn-success" type="button" data-bs-dismiss="modal">Cerrar</button>
                <!-- FIN BOTON PARA CERRAR MODAL -->
            </div>
            <!-- FIN FOOTER DEL MODAL -->
        </div>
        <!-- FIN MODAL CONTENT REGISTRO EXITOSO -->
    </div>
    <!-- FIN MODAL DIALOG REGISTRO EXITOSO -->
</div>
<!-- FIN MODAL FADE REGISTRO EXITOSO -->

<!-- INPUT OCULTO ALMACENA CONTRASEÑA INCORRECTA -->
<input type="hidden" id="contraseniaInvalida" th:value="${contraseniaInvalida}">
<!-- FIN INPUT OCULTO ALMACENA CONTRASEÑA INCORRECTA -->
<!-- MODAL FADE CONTRASEÑA INCORRECTA -->
<div class="modal fade" id="contraseniaInvalida" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- MODAL DIALOG CONTRASEÑA INCORRECTA -->
    <div class="modal-dialog" role="document">
        <!-- MODAL CONTENT CONTRASEÑA INCORRECTA -->
        <div class="modal-content">
            <!-- MODAL HEADER CONTRASEÑA INCORRECTA -->
            <div class="modal-header">
                <!-- TITULO DEL HEADER -->
                <h5 class="modal-title">Contrase&ntilde;a Incorrecta</h5>
                <!-- FIN TITULO DEL HEADER -->
                <!-- BOTON PARA CERRAR EL MODAL -->
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                <!-- FIN BOTON PARA CERRAR EL MODAL -->
            </div>
            <!-- FIN MODAL HEADER CONTRASEÑA INCORRECTA -->
            <!-- CUERPO DEL MODAL -->
            <div class="modal-body">La contrase&ntilde;a es incorrecta requiere:
                <br>Al menos una letra min&uacute;scula
                <br>Al menos una letra may&uacute;scula
                <br>Al menos un n&uacute;mero
                <br>Al menos un car&aacute;cter especial
                <br>Debe ser de m&iacute;nimo 8 caracteres
            </div>
            <!-- FIN CUERPO DEL MODAL -->
            <!-- FOOTER DEL MODAL -->
            <div class="modal-footer">
                <!-- BOTON PARA CERRAR MODAL -->
                <button class="btn btn-success" type="button" data-bs-dismiss="modal">Cerrar</button>
                <!-- FIN BOTON PARA CERRAR MODAL -->
            </div>
            <!-- FIN FOOTER DEL MODAL -->
        </div>
        <!-- FIN MODAL CONTENT CONTRASEÑA INCORRECTA -->
    </div>
    <!-- FIN MODAL DIALOG CONTRASEÑA INCORRECTA -->
</div>
<!-- FIN MODAL FADE CONTRASEÑA INCORRECTA -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script th:src="@{/js/ValidaForm.js}"></script>
<script th:src="@{/js/modalsRegistrar.js}"></script>

</body>

</html>
